@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;
    
  }


.hero {
    @apply grid md:grid-cols-1 xl:grid-cols-3 gap-5 sm:px-16 px-6;

}

.neon-text {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 2px #fff, 0 0 10px #b91c1c, 0 0 15px #b91c1c, 0 0 20px #b91c1c, 0 0 25px #b91c1c, 0 0 30px #b91c1c, 0 0 35px #b91c1c;
    
}

.neon-line {
    box-shadow:  0 0 2px #fff, 0 0 10px #b91c1c, 0 0 15px #b91c1c, 0 0 20px #b91c1c, 0 0 25px #b91c1c, 0 0 30px #b91c1c, 0 0 35px #b91c1c;
}

.neon-box {
    box-shadow: 
        inset 0 0 2px #0ea5e9, 
        inset 0 0 10px #0ea5e9, 
        inset 0 0 100px #0ea5e9, 
        inset 0 0 20px #0ea5e9, 
        inset 0 0 25px #0ea5e9, 
        inset 0 0 30px #0ea5e9, 
        inset 0 0 35px #0ea5e9,
        0 0 2px #0ea5e9, 
        0 0 10px #0ea5e9, 
        0 0 15px #0ea5e9, 
        0 0 20px #0ea5e9, 
        0 0 25px #0ea5e9, 
        0 0 80px #0ea5e9, 
        0 0 35px #0ea5e9; 
    animation: neonLights 2s ease-in-out ;
}

@keyframes neonLights {
    0%, 100% {
        box-shadow: none;
    }
    50% {
        box-shadow: 
            inset 0 0 2px #0ea5e9, 
            inset 0 0 10px #0ea5e9, 
            inset 0 0 100px #0ea5e9, 
            inset 0 0 20px #0ea5e9, 
            inset 0 0 25px #0ea5e9, 
            inset 0 0 30px #0ea5e9, 
            inset 0 0 35px #0ea5e9,
            0 0 2px #0ea5e9, 
            0 0 10px #0ea5e9, 
            0 0 15px #0ea5e9, 
            0 0 20px #0ea5e9, 
            0 0 25px #0ea5e9, 
            0 0 80px #0ea5e9, 
            0 0 35px #0ea5e9;
    }
}


.neon-h2 {
    font-family: "Montserrat", sans-serif;
    text-shadow:
    0 0 2px #22c55e, 
    0 0 10px #22c55e, 
    0 0 15px #22c55e, 
    0 0 20px #22c55e, 
    0 0 25px #22c55e, 
    0 0 80px #22c55e, 
    0 0 35px #22c55e;  
}

.neon-p {
    text-shadow:
    0 0 2px #0ea5e9, 
    0 0 1px #0ea5e9, 
    0 0 1px #0ea5e9, 
    0 0 1px #0ea5e9, 
    0 0 2px #0ea5e9, 
    0 0 10px #0ea5e9, 
    0 0 1px #0ea5e9;  
}

.neon-linkedin {
    box-shadow: 
    inset 0 0 2px #0ea5e9, 
    inset 0 0 10px #0ea5e9, 
    inset 0 0 20px #0ea5e9, 
    0 0 25px #0ea5e9;  
    text-shadow:
    0 0 2px #0ea5e9, 
    0 0 10px #0ea5e9, 
    0 0 10px #0ea5e9, 
    0 0 1px #0ea5e9, 
    0 0 20px #0ea5e9, 
    0 0 10px #0ea5e9, 
    0 0 1px #0ea5e9;  
}

.neon-github {
    box-shadow: 
    inset 0 0 2px #22c55e, 
    inset 0 0 10px #22c55e, 
    inset 0 0 20px #22c55e, 
    0 0 25px #22c55e;  
    text-shadow:
    0 0 2px #22c55e, 
    0 0 10px #22c55e, 
    0 0 10px #22c55e, 
    0 0 1px #22c55e, 
    0 0 20px #22c55e, 
    0 0 10px #22c55e, 
    0 0 1px #22c55e;  
}

.neon-resume {
    box-shadow: 
    inset 0 0 2px #db2777, 
    inset 0 0 10px #db2777, 
    inset 0 0 20px #db2777, 
    0 0 25px #db2777;  
    text-shadow:
    0 0 2px #db2777, 
    0 0 10px #db2777, 
    0 0 10px #db2777, 
    0 0 1px #db2777, 
    0 0 20px #db2777, 
    0 0 10px #db2777, 
    0 0 1px #db2777;  
}

.h1-topic-skills {
    font-family: "Montserrat", sans-serif;
    text-shadow:
    0 0 2px #facc15, 
    0 0 1px #facc15, 
    0 0 1px #facc15, 
    0 0 1px #facc15, 
    0 0 2px #facc15, 
    0 0 10px #facc15, 
    0 0 1px #facc15; 

}

.h1-topic-projects {
    font-family: "Montserrat", sans-serif;
    text-shadow:
    0 0 2px #db2777, 
    0 0 1px #db2777, 
    0 0 1px #db2777, 
    0 0 2px #db2777, 
    0 0 10px #db2777, 
    0 0 1px #db2777;  
}


.skills-box:hover {
    box-shadow: 
    inset 0 0 2px #facc15, 
    inset 0 0 10px #facc15, 
    inset 0 0 20px #facc15, 
    0 0 25px #facc15;  
    text-shadow:
    0 0 2px #facc15, 
    0 0 10px #facc15, 
    0 0 15px #facc15, 
    0 0 10px #facc15, 
    0 0 15px #facc15, 
    0 0 10px #facc15, 
    0 0 15px #facc15;  
}

.projects-box:hover {
    box-shadow: 
    inset 0 0 2px #db2777, 
    inset 0 0 10px #db2777, 
    inset 0 0 20px #db2777, 
    0 0 25px #db2777;  
}

.skills-text {
    font-family: "Codystar", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-shadow:
  0 0 2px #facc15, 
  0 0 1px #facc15, 
  0 0 1px #facc15, 
  0 0 1px #facc15, 
  0 0 2px #facc15, 
  0 0 10px #facc15, 
  0 0 1px #facc15; 
}

.arrow {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

