@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    scroll-behavior: smooth;
    color-scheme: dark;
  }


.hero {
    @apply grid md:grid-cols-3  gap-5 relative z-0 max-w-[1440px] mx-auto justify-center align-middle;
}